.Tile {
    width: 128px;
    transform: scaleY(0.5) skew(45deg, -45deg);
    -webkit-transition: transform 0.5s; /* Safari */
    transition: transform 0.5s;
}

.Tile:hover { 
  -webkit-filter: invert(.8);
  filter: invert(.8);
  transform:  scaleY(0.5) skew(45deg, -45deg) translate(10px, -10px);
}